$color-primary-100: #01080E;

$color-secondary-100: #607B96;
$color-secondary-400: #fff;

$color-accent-100: #fea55f;

$color-line: #1E2D3D;
$color-background: #011627;
$color-nav-hovered: #1E2D3D74;

:root {
  --color-primary-100: #{$color-primary-100};
  --color-line: #{$color-line};
  --color-background: #{$color-background};
  --color-secondary-100: #{$color-secondary-100};
  --color-accent-100: #{$color-accent-100};
  --color-secondary-400: #{$color-secondary-400};
  --color-nav-hovered: #{$color-nav-hovered};
}