@use '/src/styles/main.scss' as *;

.headerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.mobileMenuContainer {
  display: none;
}

.navList {
  display: flex;
}

.navItem {
  border-bottom: 1px solid $color-line;

  &:not(:last-child) {
    border-right: 1px solid $color-line;
  }

  &:first-child {
    flex: 1;
    max-width: 19.375rem;
  }

  &:nth-child(5) {
    flex: 1;
  }
}

.navLink {
  display: block;
  padding: $space-xxs $space-md;
  font-size: $font-size-xxs;
  color: $color-secondary-100;
  width: 100%;
  transition: all 0.2s ease-in-out;
  min-width: max-content;
  height: 100%;

  &.activeLink {
    border-bottom: 2px solid $color-accent-100;
    color: $color-secondary-400;
  }

  &:hover {
    background-color: $color-nav-hovered;
    color: $color-secondary-400;
  }
}

.menuIconBtn {
  padding: 0 $space-md;
  width: 100%;
  background-color: transparent;
  border: none;
  width: max-content;

  & div {
    position: relative;
    width: $space-sm;
    height: 3px;
    border-radius: $space-xxxxs;
    background-color: $color-secondary-100;
    margin-top: $space-xxxxs;
    transition: all 0.3s ease-in-out;
  }

  & div:nth-child(1) {
    margin-top: 0;
  }

  &.open div:nth-child(1) {
    transform: rotate(-45deg);
    margin-top: 8px;
  }

  &.open div:nth-child(3) {
    opacity: 0;
    transform: rotate(45deg);
  }

  &.open div:nth-child(2) {
    transform: rotate(45deg);
    margin-top: -0.1875rem;
  }
}

@include breakpoint(xxxxl) {
  .navLink {
    font-size: $font-size-xxxs;
  }

  .navItem {
    &:first-child {
      max-width: 17.1875rem;
    }
  }
}

@include breakpoint(lg) {
  .navContainer {
    position: absolute;
    background-color: $color-background;

    &.open {
      top: 100%;
      width: 100%;

      & .navList {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .navList {
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100vh);
    transition: transform 0.3s ease-in-out;
  }

  .navItem {
    &:first-child {
      max-width: 100%;
    }

    &:not(:last-child) {
      border-right: 0;
    }
  }

  .navLink {
    font-size: $font-size-xs;
    padding: $space-xs $space-md;
    min-width: auto;
  }

  .mobileMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-line;
    background-color: $color-background;
    z-index: 1;
  }
}
