@use '/src/styles/theme/main.scss' as *;

.container {
  display: flex;
  overflow: hidden;
}

.sections {
  display: flex;
  width: 100%;
  height: 100%;
  width: 100%;

  &.hide {
    display: none;
  }
}

.container,
.leftSection,
.rightSection {
  flex: 1;
}

.leftSection {
  border-right: 1px solid $color-line;
}

@include breakpoint(lg) {
  .container {
    flex-direction: column;
  }

  .sections {
    overflow: hidden;
  }
}
