$space-xxxxs: 0.25rem;
$space-xxxs: 0.5rem;
$space-xxs: 0.75rem;
$space-xs: 1rem;
$space-sm: 1.25rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-xxl: 3rem;
$space-xxxl: 3.5rem;
$space-xxxxl: 4rem;
$space-xxxxxl: 4.5rem;
$space-xxxxxxl: 5rem;
$space-xxxxxxxl: 5.5rem;