html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.4;
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  input,
  button,
  span {
    outline: none;
  }
  

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }